@import "@scss/mixins.scss";
@import "@scss-variables";

.frontpage-title-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 30vh;
  font-size: 6em;
}

.frontpage-links {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 40vh;
  font-size: 4em;
  gap: 20vh;
  margin-bottom: 20vh;
}

.frontpage-title-newsletter-button {
  font-size: 0.5em;
}

//circle links
.launch-frontpage-link {
  @include frontpage-circle-links;

  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/assets/images/launch.jpg");
  background-size: cover;
}

.timeline-frontpage-link {
  @include frontpage-circle-links;

  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/assets/images/moon.jpg");
  background-size: cover;
}

.lifeonmars-frontpage-link {
  @include frontpage-circle-links;

  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/assets/images/mars.jpg");
  background-size: cover;
}
