@import "@scss/mixins.scss";
@import "@scss-variables";

.frontpage-title-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 40vh;
  font-size: 5em;
}

.frontpage-links {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.frontpage-title-newsletter-button {
  font-size: 0.5em;
}

//circle links
.launch-frontpage-link {
  @include frontpage-circle-links;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/launch.jpg");
  background-size: cover;
}

.timeline-frontpage-link {
  @include frontpage-circle-links;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/moon.jpg");
  background-size: cover;
}

.lifeonmars-frontpage-link {
  @include frontpage-circle-links;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/mars.jpg");
  background-size: cover;
}

.newsletter-frontpage-link {
  @include frontpage-circle-links;
  background-color: $orange;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
}
