//launch articles

.launch-mission-article {
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.launch-mission-img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
