@import "@scss/fonts.scss";
@import "@scss-variables";
@import "@scss/mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 11;
}

body,
html {
  background: #000;
  height: 100vh;
  color: $white;
  font-family: Raleway;
}

main {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

h1,
h2,
h3 {
  font-family: Orbitron;
}

a {
  text-decoration: none;
  color: $white;
  font-family: Orbitron;
}
